---
import { type CollectionEntry, getCollection } from "astro:content";
import { type InferGetStaticPropsType } from "astro";

// layout
import BaseLayout from "@layouts/BaseLayout.astro";

// components
import ExternalLink from "@components/MarkdownComponents/ExternalLink.astro";

export async function getStaticPaths() {
  const otherPages: CollectionEntry<"otherPages">[] = await getCollection(
    "otherPages",
    ({ data }) => {
      // filter out draft pages
      return data.draft !== true;
    },
  );
  return otherPages.map((page) => ({
    params: { page: page.slug },
    props: page,
  }));
}

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const page = Astro.props as Props;

// convert markdown to html
const { Content } = await page.render();
const { title, description } = page.data;
---

<BaseLayout title={title} description={description}>
  <section class="mx-auto max-w-3xl px-4 pt-36 md:pt-44">
    <h1 class="h1">
      {title}
    </h1>
    <div class="text-base-content prose max-w-none py-6">
      <Content component={{ a: ExternalLink }} />
    </div>
  </section>
</BaseLayout>
