---
import { Image } from "astro:assets";

// data
import siteData from "@config/siteData.json";
---

<a class="primary-focus flex items-center" href="/">
  <div class="text-2xl font-bold uppercase">{siteData.name}</div>
</a>
